# Your app base url
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Your postgres' database url
# example: postgresql://username:password@host:port/database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# You can generate by run this command on your terminal: openssl rand -base64 32
AUTH_SECRET=

# You can get github id & secret by creating OAuth Apps from Settings > Developer Settings > OAuth Apps
# More info: https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=

# https://next-auth.js.org/providers/google
GOOGLE_ID=
GOOGLE_SECRET=

# https://resend.com
RESEND_API_KEY=
RESEND_DOMAIN=
EMAIL_FROM="Next Dashboard <mail@nextdashboard.my.id>"

# You can generate by run this command on your terminal: openssl rand -hex 64
JWT_SECRET=

STRIPE_API_KEY=sk_test_51R3i5wG3UVEqP03SCT0awVjMVveBkgsdmri3n75JeVabl7pgfdWDEBovgPTBFMIS2r38J6q7E5T5oTBT43SDqR8i00l3z2TeE8
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51R3i5wG3UVEqP03S1K6sRfPpJJRzjILiyTM2u33YUmzZK4qMT0H3FqYZ4HV6LGOSOZQMjF4AquOKTzx59ruprUk700U61MnoTp

STRIPE_BASIC_PRODUCT_ID=prod_RxdU0uq9Nj2Ii6
PORTAL_CONFIG_VERSION=v1

STRIPE_BASIC_PRICE_WEEKLY=price_1R3iDVG3UVEqP03SrT4uZpoO
STRIPE_BASIC_PRICE_MONTHLY=price_1R3iDVG3UVEqP03SYIKnziJS
STRIPE_BASIC_PRICE_QUARTERLY=price_1R3iDVG3UVEqP03SwVI5dNO2
STRIPE_BASIC_PRICE_BIANNUAL=price_1R3iDVG3UVEqP03SSvK38VZm
STRIPE_BASIC_PRICE_YEARLY=price_1R3iDVG3UVEqP03SqlaIfnS3

PRIVACY_POLICY_URL=https://yourapp.com/privacy
TERMS_OF_SERVICE_URL=https://yourapp.com/terms